@using Umbraco.Core.Models.PublishedContent
@using Dragonfly.SiteAuditor.Models

@model AuditableContent
@{
    AuditableContent content = Model;
}

<a href="/umbraco#/content/content/edit/@content.UmbContentNode.Id" target="_blank">Edit</a>

@if (content.IsPublished)
{
    <span> | </span><a href="@content.UmbPublishedNode.Url()" target="_blank">View</a>
}