@using Dragonfly.SiteAuditor.Models;

@model NodePropertyDataTypeInfo
@{
    NodePropertyDataTypeInfo propInfo = Model;
}
<span>@propInfo.DataType.Name (@propInfo.PropertyEditorAlias [@propInfo.DatabaseType])</span>

